$font-family-main:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
$font-family-code:  source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;

$color-primary-lightest: #fff;
$color-primary-darkest: #303240;
$color-primary-blue: #25a8e9;
$color-primary-salmon: #fca47c;

$string-height: 3em;
$max-content-width: 970px;
$gap: 15px;
