$font-family-main:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
$font-family-code:  source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;

$color-primary-lightest: #fff;
$color-primary-darkest: #303240;
$color-primary-blue: #25a8e9;
$color-primary-salmon: #fca47c;
$color-primary-gray: #797878;
$color-primary-gray-light: #acacac;

$bg-blue: #7fd9e7;
$bg-lavender: #a7b0e7;
$bg-olive: #d0deaa;
$bg-pink: #f7acc9;
$bg-green: #90dec2;
$bg-beige: #ffe0d4;
$bg-purple: #eac5ef;

$max-content-width: 1000px;
$max-content-width-mobile: 540px;
$gap: 15px;
